.pagination {
    display: flex;
    flex-direction: row;
    position:absolute;
    right: -50px;
    margin-top: 7px;
}

.textPage{
    display: flex;
    flex-direction: row;
    font-family: monospace;
    margin: 5px 5px 10px 5px;
    position:relative;
    right: -120px;
    top: 5px
}
.pagina {
    display: flex;
    flex-direction: row;
    font-family: monospace;
    padding: 5px 5px 5px 5px;
    height: fit-content;
    border: 2px solid #005f73;
    color: #005f73;
    position: relative;
    right: -120px;
    top: -18px
}
.flechaNext {
    width: 15%;
    height: auto;
    margin:0px;
}
.flechaNext:hover{
    transform: scale(1.3);
 } 

 .flechaPrev {
    width: 15%;
    height: auto;
    margin:0px;
    position: relative;
    right: -220px;
    top: 7px

}
.flechaPrev:hover{
    transform: scale(1.3);
 } 


.lista {
    width: 25px;
    height: 20px;
    font-family: monospace;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    text-decoration: none;
    background-color: #d9d9d9;
    color:#353535
}

.aPar {
    text-decoration: none;
    background-color: #d9d9d9;
    color:#353535;
    width: 25px;
    height: 20px;
}
.aPar:hover{
    transform: scale(1.2);
}

.aImpar {
    text-decoration: none;
    background-color: #c9c9c9;
    width: 25px;
    height: 20px;
}
.aImpar:hover{
    transform: scale(1.2);
}

.link {
    font-family: monospace;
    color:#353535;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.page {
    text-decoration: none;
    background-color: #005f73;
    color: #d9d9d9;
    padding: 5px 7px 5px 7px;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
}
